.dataInvoice__section__div__form {
    display: flex;
    flex-direction: column;
    margin: 2% 0 2% 0;
    width: 90%;
}

.btn {
    padding: 1%;
    background-color: #8c6bc6;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFF;
    border: none;
    outline: none;
}

.btn:hover {
    color: #000000;
    background-color: #602db9;
    transition: 0.3s ease-in-out;
}

.dataInvoice__section__div__form__input {
    margin: 1% auto 1% auto;
    height: 2rem;
    width: 70%;
}

.dataInvoice__section__div__form__select {
    height: 2rem;
    width: 70%;
    margin: auto;
}